body {
  margin: 0;
  padding: 0;
  background-image: url("../images/VB.png");
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.85rem;
}

h1 {
  background-color: rgba(255, 0, 0, 0.9);
  color: aliceblue;
  text-align: center;
  /* border-radius: 0.25em; */
  padding: 0.2em 0 0.2em;
  /* margin: 5.5em 20em 0; */
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  background-color: blue;
  text-align: center;
  font-weight: bold;
  color: aliceblue;
  padding: 0.3em;
  margin: 0;
}

.leaderboard {
  margin: 2em auto 2em;
  height: 44em;
  width: 100em;
  overflow-y: auto;
  overflow-x: auto;
  /* scroll-snap-type: y mandatory; */
}

.leaderboard > table {
  width: 100%;
}

table {
  padding: 0.2em;
  background-color: rgba(240, 248, 255, 0.7);
  /* border-radius: 0.5em; */

  width: 100em;
  align-items: center;
}

th {
  position: sticky;
  top: 0;
  padding: 0.5em 0.4em 0.5em 0.4em;
  background-color: green;
  color: aliceblue;
}

/* table tr {
  scroll-snap-align: start;
} */

td {
  padding: 0.3em 0.4em 0.3em 0.4em;
  text-align: center;
  border: solid 0.5px green;
}

@media only screen and (max-width: 450px) {
  h1 {
    padding: 0.2em 0 0.2em;
    /* margin: 3.5em 7em 0.1em; */
    font-size: 1.7rem;
  }

  h2 {
    margin-bottom: 1em;
    font-size: 1.5rem;
  }

  /* .leaderboard {
    overflow-x: scroll;
  } */

  .leaderboard {
    margin: 2em auto 2em;
    height: 65.5em;
    width: 36em;
    overflow-y: auto;
    overflow-x: auto;
    scroll-snap-type: y mandatory;
    background-color: none;
  }

  table {
    padding: 0.01em;
    margin: 0.7em auto 1.3em;
    width: 36em;
  }

  th {
    position: sticky;
    top: 0;
    padding: 0.8em;
    font-size: 1.2rem;
  }

  td {
    padding: 0.8em;
    border: solid 0.1px green;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 380px) {
  h1 {
    padding: 0.2em 0 0.2em;
    /* margin: 3.5em 7em 0.1em; */
    font-size: 1.7rem;
  }

  h2 {
    margin-bottom: 1em;
    font-size: 1.5rem;
  }

  /* .leaderboard {
    overflow-x: scroll;
  } */

  .leaderboard {
    margin: 2em auto 2em;
    height: 40em;
    width: 26em;
    overflow-y: auto;
    overflow-x: auto;
    scroll-snap-type: y mandatory;
    background-color: none;
  }

  table {
    padding: 0.01em;
    margin: 0.7em auto 1.3em;
    width: 26em;
  }

  th {
    position: sticky;
    top: 0;
    padding: 0.8em;
    font-size: 1rem;
  }

  td {
    padding: 0.8em;
    border: solid 0.1px green;
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 370px) {
  h1 {
    padding: 0.2em 0 0.2em;
    /* margin: 3.5em 7em 0.1em; */
    font-size: 1.7rem;
  }

  h2 {
    margin-bottom: 1em;
    font-size: 1.5rem;
  }

  /* .leaderboard {
    overflow-x: scroll;
  } */

  .leaderboard {
    margin: 2em auto 2em;
    height: 44.5em;
    width: 22em;
    overflow-y: auto;
    overflow-x: auto;
    scroll-snap-type: y mandatory;
    background-color: none;
  }

  table {
    padding: 0.01em;
    margin: 0.7em auto 1.3em;
    width: 22em;
  }

  th {
    position: sticky;
    top: 0;
    padding: 0.8em;
    font-size: 0.9rem;
  }

  td {
    padding: 0.8em;
    border: solid 0.1px green;
    font-size: 0.7rem;
  }
}
